body {
  background-color: #5a5a5a;

  margin: 0;
  padding: 0;
}


.App {
  max-width: 100%;
  width: 1000px;
  max-height: 600px;
  aspect-ratio: 16 / 9;

  margin-inline: auto;

  transition: all 250ms ease-in-out;
}

.TheaterMode {
  width: 100%;
  max-height: 80vh;
}